svg,
video,
audio,
img[src^="https://upload"]{
filter: drop-shadow(0 0 0.15rem gray);
border-radius:1vmax;
}

img[src*="wordmark"]{
  visibility:hidden;
}


div,
h1,
h2,
h3
{
  border-radius:1vmin;
}
