.wordads-ad-wrapper,
[data-adtags-width],
[id^="atatags"],
[class^="ob-"],
.OUTBRAIN,
div[id="marketingbar"],
.widget_eu_cookie_law_widget,
[href="https://wordpress.com/?ref=footer_blog"]
{
   display: none !important;
   visibility: hidden !important;
   opacity: 0 !important;
   max-height: 0px !important;
   height: 0px !important;
   transform: scale(0,0) !important;
   position: absolute !important;
   z-index: -99 !important;
}
